{{- $linux := eq .chezmoi.os "linux" }}
{{- if and $linux (eq .chezmoi.osRelease.id "arch") -}}

#!/bin/bash

sudo pacman -S --needed git base-devel

type yay >/dev/null 2>&1
if [ "$?" = "1" ] ; then
    cd $HOME/work/yay-bin
    makepkg -si
fi

{{- end -}}

