{{- if eq .chezmoi.os "linux" }}
#!/bin/sh

apk update

apk add --no-cache \
    bash \
    zsh \
    git \
    curl \
    tmux \
    neovim \
    vim \
    lazygit

chsh -s /bin/zsh $USER
{{- end }}
