git:
    autoCommit: true
data:
    font:
        code:
            family: GeistMono Nerd Font
            size: 12
    packages:
        linux:
            pacman: []
            yay:
            - hyprland
            - hypridle
            - hyprlock
            - hyprshot
            - hyprpaper
            - hyprsunset
            - hyprcursor
            - hyprgraphics
            - hyprutils
            - rofi
            - rofi-power-menu
            - waybar
            - wf-recorder
            - swaync
            - network-manager-applet
            - blueman
            - fcitx5
            - fcitx5-bamboo
            - fcitx5-configtool
            - wl-clipboard
            - brave-bin
            - slurp
            - grim
            - thunar
            - zsh
            - neovim
            - fzf
            - zoxide
            - fd
            - tmux
            - lazygit
            - wezterm
            - python
            - go
            - rustup
            - otf-geist-mono-nerd
            - ripgrep
            apt:
            - git
            - neovim
            - fzf
            - zoxide
            - lazygit
            - ripgrep
    git:
        aliases:
            - - tree
              - log --graph --oneline --all
            - ["co", "checkout"]
            - ["br", "branch"]
            - ["ff", "merge --ff-only"]
            - ["f", "fetch"]
            - ["fo", "fetch origin"]
            - ["fop", "fetch origin --prune"]
            - ["p", "pull"]
            - ["po", "pull origin"]
            - ["pom", "pull origin master"]
            - ["cp", "cherry-pick"]
            - ["bn", "branch --show-current"]
            - ["mc", "merge --continue"]
            - ["ma", "merge --abort"]
            - ["s", "status"]
            - ["c", "commit -m"]
            - ["d", "diff"]
            - ["dc", "diff --catched"]
        user:
            name: Van Tran
            email: tmvan.1903@gmail.com
