git:
    autoCommit: true
data:
    font:
        mono: "FantasqueSansM Nerd Font"
    packages:
        linux:
            pacman: []
            yay:
            - hyprland
            - hypridle
            - hyprlock
            - hyprshot
            - hyprpaper
            - hyprsunset
            - hyprcursor
            - hyprgraphics
            - hyprutils
            - rofi
            - rofi-power-menu
            - waybar
            - wf-recorder
            - swaync
            - network-manager-applet
            - blueman
            - fcitx5
            - fcitx5-bamboo
            - fcitx5-configtool
            - wl-clipboard
            - brave-bin
            - slurp
            - grim
            - thunar
            - zsh
            - neovim
            - fzf
            - zoxide
            - fd
            - tmux
            - lazygit
            - wezterm
            - python
            - go
            - rustup
            - ttf-fantasque-nerd

