* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(0,0,0,1); */
    background-color: #111;
}

.modules-left,
.modules-center,
.modules-right {
    /* margin: 0px 4px; */
    margin: 4px 1px;
    padding: 4px 0px;
    /* background-color: rgba(0,0,0,0.6); */
    /* border-radius: 4px; */
}

/* #window { */
/*     min-width: 400px; */
/*     padding: 0px 10px; */
/* } */

#workspaces button {
    /* margin: 2px; */
    padding: 4px;
    font-weight: bold;
    /* background-color: #31363F; */
    /* border-radius: 40px; */
    /* border-radius: 4px; */
    border-radius: 0;
}

#workspaces button.active,
#workspaces button.focused{
    /* color: #000000; */
    /* background: #E8751A; */
    /* background-color: #983602; */
    background-color: #31363F;
}

.modules-right widget label,
.modules-center widget label {
    padding: 2px 12px;
    min-width: 16px;
    background-color: #31363F;
    /* border-radius: 4px; */
}

.modules-right widget label {
    margin-left: 8px;
}

#idle_inhibitor, 
#clock,
#privacy,
#mpris {
    background-color: transparent;
}

#idle_inhibitor, 
#clock,
#mpris {
    padding: 4px;
}

#privacy {
    margin-left: 6px;
}

#idle_inhibitor {
    margin: 0;
}

#window {
    font-weight: bold;
}
