* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0.8);
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0px 4px;
    padding: 2px;
    /*background-color: rgba(0,0,0,0.6);*/
    border-radius: 8px;
}

#window {
    min-width: 400px;
    padding: 0px 10px;
}

#workspaces button {
    margin: 2px;
    padding: 4px;
    font-weight: bold;
    background-color: #31363F;
    border-radius: 40px;
}

#workspaces button.active,
#workspaces button.focused{
    color: #000000;
    background: #E8751A;
}

.modules-right widget label,
.modules-center widget label {
    font-size: 12px;
    margin: 2px;
    padding: 2px 12px;
    min-width: 16px;
    background-color: #31363F;
    border-radius: 4px;
}

#idle_inhibitor,
#clock {
    background-color: transparent;
    margin: 2px;
    padding: 4px;
}

#window {
    font-weight: bold;
}
