//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/home/vantm/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/vantm/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/vantm/.local/share/rofi/themes/windows11-list-dark.rasi"
@theme "/home/vantm/.local/share/rofi/themes/rounded-orange-dark.rasi"
