{{- if eq .chezmoi.osRelease.id "arch" -}}

["yay-bin"]
type = "git-repo"
url = "https://aur.archlinux.org/yay.git"
refreshPeriod = "168h"

["yay-bin".clone]
args = ["--depth", "1"]

["yay-bin".pull]
args = ["--ff-only"]

{{- end -}}
